<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filmes</title>
</head>

<body>
    <div >
        <h1>Lista de Filmes</h1>
    </div>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Filme</th>
                <th>Duração</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="filme:${filmes}">
                <td th:text="${filme.nomeFilme}"> Filme</td>
                <td th:text="${filme.duracao}"> Duração</td>
            </tr>
        </tbody>
    </table>
</body>
</html>